::-webkit-scrollbar {
    width: 8px; 
    height: 8px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #843465;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #000;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #000;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #2E2E2E;
}

@font-face {
    font-family: "FuturaMediumC";
    src: url("../fonts/FuturaMediumC.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "FuturaBookC";
    src: url("../fonts/FuturaBookC.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "FuturaDemiC";
    src: url("../fonts/FuturaDemiC.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "FuturaLightC";
    src: url("../fonts/FuturaLightC.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    scrollbar-color: #000 #fff;
    scrollbar-width: 24px;
}

.body__block {
    width: 82vw;
}

.logo {
    position: absolute;
    width: 229px;
    height: 126px;
    left: 74px;
    top: 83px;
}

.menu ul {
    position: absolute;
    width: 285px;
    height: 389px;
    left: 41px;
    top: 432px;
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 60px;
    text-align: right;
    letter-spacing: 0.12em;
    color: #2E2E2E;
}

.transition-translate {
    position: relative;
    cursor: pointer;
    right: 0%;
    transition: 1s linear;
}

.transition-translate:hover {
    right: 5%;
}

.menu ul li {
    list-style-type: none;
}

.menu__header {
    position: absolute;
    width: 267px;
    height: 150px;
    left: 61px;
    top: 247px;
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: right;
    letter-spacing: 0.12em;
    color: #2E2E2E;
}

.menu {
    position: fixed!important;
    width: 18vw;
    height: 100%;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: #FFF;
    z-index: 10;
}

.menu__list ul {
    margin-right: 300px;
}

.fade__first__line {
    animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

.fade__second__line {
    animation: fadeIn ease 1.3s;
  -webkit-animation: fadeIn ease 1.3s;
  -moz-animation: fadeIn ease 1.3s;
  -o-animation: fadeIn ease 1.3s;
  -ms-animation: fadeIn ease 1.3s;
}

.fade__third__line {
    animation: fadeIn ease 1.6s;
  -webkit-animation: fadeIn ease 1.6s;
  -moz-animation: fadeIn ease 1.6s;
  -o-animation: fadeIn ease 1.6s;
  -ms-animation: fadeIn ease 1.6s;
}

.fade__fourth__line {
    animation: fadeIn ease 1.9s;
  -webkit-animation: fadeIn ease 1.9s;
  -moz-animation: fadeIn ease 1.9s;
  -o-animation: fadeIn ease 1.9s;
  -ms-animation: fadeIn ease 1.9s;
}

.fade__fifth__line {
    animation: fadeIn ease 2.2s;
  -webkit-animation: fadeIn ease 2.2s;
  -moz-animation: fadeIn ease 2.2s;
  -o-animation: fadeIn ease 2.2s;
  -ms-animation: fadeIn ease 2.2s;
}

.fade__sixth__line {
    animation: fadeIn ease 2.5s;
  -webkit-animation: fadeIn ease 2.5s;
  -moz-animation: fadeIn ease 2.5s;
  -o-animation: fadeIn ease 2.5s;
  -ms-animation: fadeIn ease 2.5s;
}

.fade__seventh__line {
    animation: fadeInLeft ease 1.5s;
  -webkit-animation: fadeInLeft ease 1.5s;
  -moz-animation: fadeInLeft ease 1.5s;
  -o-animation: fadeInLeft ease 1.5s;
  -ms-animation: fadeInLeft ease 1.5s;
}

.first__block {
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0;
    display: inline-block;
}

.first__block__img{
    width: 50%;
    height: 100%;
    left: 0px;
    top: 0px;
    float: left;
}

.first__block__img img{
    width: 100%;
    height: 100%;
}

.first__block__textarea {
    width: 50%;
    height: 100%;
    background:#FFF;
    margin-top: 0;
    z-index: 9;
    float: left;
}

.first__block__text {
    margin-top: 55%;
}

.first__block__text h2 {
    padding: 0px 0px 130px 25px;
    font-family: FuturaMediumC;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 142%;
    letter-spacing: 0.1em;
    color: #2E2E2E;
}

.first__block__text h3 {
    padding: 0px 0px 0px 25px;
    padding-right: 25px;
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0.08em;
    color: #2E2E2E;
}

.menu .btn {
    position: absolute;
    width: 264px;
    height: 52px;
    left: calc(50% - 264px/2);
    top: 765px;
    color: #fff;
    background: #2E2E2E;
    border: 2px solid #f7f7f7;
    text-align: center;
    position: relative;
    overflow: hidden;
    -webkit-transition: .3s;
    transition: .3s;
}

.menu .btn:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #fff;
}

.menu .btn:hover {
  cursor: pointer;
}
.menu .btn:hover:after {
  width: 100%;
  left: 0;
}

.btn:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #fff;
}

.btn:hover {
    cursor: pointer;
}
.btn:hover:after {
    width: 100%;
    left: 0;
}

.menu .btn a {
    position: absolute;
    width: 185px;
    height: 58px;
    left: calc(50% - 185px/2 - 0.5px);
    top: calc(50% - 58px/2 + 14px);
    font-family: FuturaMediumC;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

.stoimost {
    position: absolute;
    width: 1536px;
    height: 183px;
    right: 384px;
    top: 1080px;
}

.get__price__block {
    background: #000;
    height: 18vh;
    width: 100%;
    display: flex;
	justify-content: center;
	align-items: center;
}

.get__price__text__block h1{
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0.08em;
    color: #2E2E2E;
    width: 50%;
    float: left;
}

.get__price__button__block {
    width: 50%;
    float: left;
    display: flex;
	justify-content: center;
	align-items: center;
}

.get__price__button__block .btn {
    width: 407px;
    height: 65px;
    left: 941px;
    top: 58px;
    color: #fff;
    background: #2E2E2E;
    display: flex;
	justify-content: center;
	align-items: center;
}

.get__price__block .btn a {
    font-family: FuturaMediumC;
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

.stoimost .btn {
    position: absolute;
    width: 407px;
    height: 65px;
    left: 941px;
    top: 58px;
    color: #fff;
    background: #2E2E2E;
}

.stoimost .btn a {
    position: absolute;
    width: 333px;
    height: 45px;
    left: calc(50% - 333px/2 + 1px);
    top: calc(50% - 45px/2);
    font-family: FuturaMediumC;
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 150%;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

.gallery__block {
    width: 100%;
}

.first__column__images,
.second__column__images {
    width: 50%;
    float: left;
}

.first__column__images img,
.second__column__images img {
    padding: 10px 0px 10px 0px;
}

.solo__image {
    width: 100%;
    float: left;
}

.house__size__block {
    background: red;
    width: 100%;
    height: 10px;
}

.house__size__block h2 {
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 49px;
    line-height: 37px;
    letter-spacing: 0.12em;
    color: #2E2E2E;
    padding: 20px 0px 20px 20px;
}

.house__size__block h4 {
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.12em;
    color: #2E2E2E;
    padding: 20px 0px 20px 20px;
    float: left;
}

.house__size__block h3 {
    border: 2px solid #000000;
    width: 38px;
    height: 38px;
    display: flex;
	justify-content: center;
	align-items: center;
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 125%;
    letter-spacing: 0.12em;
    color: #2E2E2E;
    float: left;
}

.house__size__block .btn {
    position: absolute;
    width: 410px;
    height: 72px;
    right: 186px;
    top: 373px;
}

.house__size__block .btn a {
    position: absolute;
    width: 182px;
    height: 90px;
    left: calc(50% - 182px/2 + 6px);
    top: calc(50% - 90px/2 + 23px);
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

.priceblock {
    position: absolute;
    width: 1536px;
    height: 1080px;
    left: 0px;
    top: 3972px;
}

.priceblock h1 {
    position: absolute;
    width: 437px;
    height: 50px;
    left: 90px;
    top: 0;
    font-family: FuturaMediumC;
    font-style: normal;
    font-weight: 500;
    font-size: 49px;
    line-height: 100%;
    letter-spacing: 0.12em;
    color: #2E2E2E;
    text-decoration: none;
    border-bottom: 2px solid #2E2E2E;
}

.priceglr {
    position: absolute;
    width: 753px;
    height: 1080px;
    left: 783px;
    top: 100px;
}

.priceblock1 {
    position: absolute;
    width: 663px;
    height: 170px;
    left: 90px;
    top: 100px;
    background: rgba(46, 46, 46, 0.07);
}

.priceblock1 h2, .priceblock4 h2, .priceblock5 h2, .priceblock6 h2 {
    position: absolute;
    width: 600px;
    height: 74px;
    left: 34px;
    top: 71px;
    font-family: FuturaMediumC;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 37px;
/* or 94% */
    letter-spacing: 0.12em;
    color: #2E2E2E;
}

.priceblock2 h2, .priceblock3 h2 {
    position: absolute;
    width: 560px;
    height: 64px;
    left: 31px;
    top: 57px;
    font-family: FuturaMediumC;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 35px;
/* or 87% */
    letter-spacing: 0.12em;
    color: #2E2E2E;
}

.priceblock1 a, .priceblock2 a, .priceblock3 a, .priceblock4 a, .priceblock5 a {
    position: absolute;
    width: 196px;
    height: 43px;
    left: 460px;
    top: 127px;
    font-family: FuturaLightC;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 37px;
/* identical to box height, or 150% */
    letter-spacing: 0.12em;
    color: #2E2E2E;
}

.priceblock6 a {
    position: absolute;
    width: 196px;
    height: 43px;
    left: 460px;
    top: 108px;
    font-family: FuturaLightC;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 37px;
/* identical to box height, or 150% */
    letter-spacing: 0.12em;
    color: #2E2E2E;
}

.priceblock2 {
    position: absolute;
    width: 663px;
    height: 170px;
    left: 90px;
    top: 285px;
    background: rgba(46, 46, 46, 0.07);
}

.priceblock3 {
    position: absolute;
    width: 663px;
    height: 170px;
    left: 90px;
    top: 470px;
    background: rgba(46, 46, 46, 0.07);
}

.priceblock4 {
    position: absolute;
    width: 663px;
    height: 170px;
    left: 90px;
    top: 655px;
    background: rgba(0, 0, 0, 0.07);
}

.priceblock5 {
    position: absolute;
    width: 663px;
    height: 170px;
    left: 90px;
    top: 840px;
    background: rgba(46, 46, 46, 0.07);
}

.priceblock6 {
    position: absolute;
    width: 663px;
    height: 155px;
    left: 90px;
    top: 1025px;
    background: rgba(46, 46, 46, 0.07);
}

.pricevariationblock {
    position: absolute;
    width: 1536px;
    height: 850px;
    left: 0px;
    top: 6250px;
}

.pricevariation1 {
    position: absolute;
    width: 1355px;
    height: 178px;
    left: 91px;
    top: 0px;
    background: #2E2E2E;
}

.pricevariation2 {
    position: absolute;
    width: 1356px;
    height: 190px;
    left: 90px;
    top: 212px;
    background: #2E2E2E;
}

.pricevariation3 {
    position: absolute;
    width: 1356px;
    height: 190px;
    left: 90px;
    top: 436px;
    background: #2E2E2E;
}

.pricevariation4 {
    position: absolute;
    width: 1356px;
    height: 190px;
    left: 90px;
    top: 660px;
    background: #2E2E2E;
}

.pricevariation1 h2, .pricevariation2 h2, .pricevariation3 h2 {
    position: absolute;
    width: 156px;
    height: 38px;
    left: 86px;
    top: 70px;
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 37px;
/* identical to box height, or 107% */
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

.pricevariation4 h2 {
    position: absolute;
    width: 314px;
    height: 110px;
    left: 87px;
    top: 58px;
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 30px;
/* or 86% */
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

.pricevariation1 h3, .pricevariation2 h3, .pricevariation3 h3, .pricevariation4 h3 {
    position: absolute;
    width: 293px;
    height: 54px;
    left: 662px;
    top: 76px;
    font-family: FuturaMediumC;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 37px;
/* or 107% */
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

.pricevariation1 .btn, .pricevariation2 .btn, .pricevariation3 .btn, .pricevariation4 .btn {
    position: absolute;
    width: 263px;
    height: 51px;
    right: 46px;
    top: 69px;
    background: #FFFFFF;
}

.pricevariation1 .btn a, .pricevariation2 .btn a, .pricevariation3 .btn a, .pricevariation4 .btn a {
    position: absolute;
    width: 154px;
    height: 37px;
    left: calc(50% - 154px/2 + 8.5px);
    top: calc(50% - 37px/2 - 2px);
    font-family: FuturaMediumC;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
/* or 150% */
    letter-spacing: 0.12em;
    color: #2E2E2E;
}

.buroblock {
    position: absolute;
    width: 768px;
    height: 1080px;
    left: 0px;
    top: 7237px;
    background: #2E2E2E;
}

.buroimgblock {
    position: absolute;
    width: 768px;
    height: 1080px;
    left: 768px;
    top: 7237px;
}

.buroblock h2 {
    position: absolute;
    width: 222px;
    height: 50px;
    left: 87px;
    top: 78px;
    font-family: FuturaMediumC;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 50px;
/* or 100% */
    letter-spacing: 0.12em;
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 2px solid #FFF;
}

.buroblock p {
    position: absolute;
    width: 559px;
    height: 607px;
    left: 90px;
    top: 182px;
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
/* or 120% */
    color: #FFFFFF;
}

.buroimgblock2 {
    position: absolute;
    width: 768px;
    height: 1080px;
    left: 0px;
    top: 8317px;
}

.buroblock2 {
    position: absolute;
    width: 768px;
    height: 1080px;
    left: 768px;
    top: 8317px;
    background: rgba(0, 0, 0, 0.04);
}

.buroblock2 h2 {
    position: absolute;
    width: 553px;
    height: 50px;
    left: 96px;
    top: 78px;
    font-family: FuturaMediumC;
    font-style: normal;
    font-weight: 500;
    font-size: 49px;
    line-height: 50px;
/* identical to box height, or 100% */
    letter-spacing: 0.12em;
    color: #2E2E2E;
    text-decoration: none;
    border-bottom: 2px solid #2E2E2E;
}

.buroblock2 p {
    position: absolute;
    width: 589px;
    height: 842px;
    left: 89px;
    top: 173px;
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
/* or 120% */
    color: #2E2E2E;
}

.faces {
    position: absolute;
    width: 1536px;
    height: 2160px;
    left: 0px;
    top: 9589px;
    background: rgba(0, 0, 0, 0.04);
}

.facesimgblock {
    position: absolute;
    width: 768px;
    height: 1080px;
    left: 0px;
    top: 30px;
    background: #2E2E2E;
}

.facesblock {
    position: absolute;
    width: 768px;
    height: 1080px;
    left: 768px;
    top: 30px;
}

.facesblock p {
    position: absolute;
    width: 674px;
    height: 207px;
    left: 28px;
    top: 86px;
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
/* or 125% */
    letter-spacing: 0.12em;
    color: #2E2E2E;
}

.facesblock h2 {
    position: absolute;
    width: 256px;
    height: 49px;
    left: 15px;
    top: 529px;
    font-family: FuturaLightC;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 65px;
/* or 217% */
    letter-spacing: 0.12em;
    color: #2E2E2E;
}

.facesblock h3 {
    position: absolute;
    width: 443px;
    height: 111px;
    left: 15px;
    top: 587px;
    font-family: FuturaMediumC;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
/* or 100% */
    letter-spacing: 0.12em;
    color: #2E2E2E;
}

.facesblock h4 {
    position: absolute;
    width: 367px;
    height: 302px;
    left: 28px;
    top: 699px;
    font-family: FuturaLightC;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 65px;
/* or 217% */
    letter-spacing: 0.12em;
    color: #2E2E2E;
}

.facesblock .date {
    position: absolute;
    width: 147px;
    height: 223px;
    left: 0px;
    top: 48px;
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 40px;
/* identical to box height, or 160% */
    letter-spacing: 0.12em;
    color: #2E2E2E;
}

.facesblock .prize {
    position: absolute;
    width: 394px;
    height: 234px;
    left: 130px;
    top: 48px;
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 40px;
/* identical to box height, or 160% */
    letter-spacing: 0.12em;
    color: #2E2E2E;
}

.facesblock2 .date {
    position: absolute;
    width: 147px;
    height: 223px;
    left: 0px;
    top: 48px;
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 40px;
/* identical to box height, or 160% */
    letter-spacing: 0.12em;
    color: #2E2E2E;
    text-align: right;
}

.facesblock2 .prize {
    position: absolute;
    width: 394px;
    height: 234px;
    left: 130px;
    top: 48px;
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 40px;
/* identical to box height, or 160% */
    letter-spacing: 0.12em;
    color: #2E2E2E;
    text-align: right;
}

.facesblock2 {
    position: absolute;
    width: 768px;
    height: 1080px;
    left: 0px;
    top: 1110px;
    background: rgba(0, 0, 0, 0.04);
}

.facesimgblock2 {
    position: absolute;
    width: 768px;
    height: 1080px;
    left: 768px;
    top: 1110px;
}

.facesblock2 p {
    position: absolute;
    width: 674px;
    height: 207px;
    left: 28px;
    top: 86px;
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
/* or 125% */
    letter-spacing: 0.12em;
    color: #2E2E2E;
    text-align: right;
}

.facesblock2 h2 {
    position: absolute;
    width: 256px;
    height: 49px;
    left: 274px;
    top: 529px;
    font-family: FuturaLightC;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 65px;
/* or 217% */
    letter-spacing: 0.12em;
    color: #2E2E2E;
    text-align: right;
}

.facesblock2 h3 {
    position: absolute;
    width: 443px;
    height: 111px;
    left: 274px;
    top: 587px;
    font-family: FuturaMediumC;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
/* or 100% */
    letter-spacing: 0.12em;
    color: #2E2E2E;
    text-align: right;
}

.facesblock2 h4 {
    position: absolute;
    width: 367px;
    height: 56px;
    left: 274px;
    top: 699px;
    font-family: FuturaLightC;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 65px;
/* or 217% */
    letter-spacing: 0.12em;
    color: #2E2E2E;
}

.winner {
    position: absolute;
    width: 1536px;
    height: 183px;
    left: 0px;
    top: 11749px;
    background: #2E2E2E;
}

.winner h1 {
    position: absolute;
    width: 1045.28px;
    height: 75px;
    left: 88px;
    top: 54px;
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
/* or 125% */
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

.project1img1 {
    position: absolute;
    width: 1536px;
    height: 1080px;
    left: 0px;
    top: 0px;
}
.project1img2 {
   position: absolute;
width: 1152px;
height: 864px;
left: 192px;
top: 1642px;
}

.project1img3 {
   position: absolute;
width: 1152px;
height: 864px;
left: 192px;
top: 2578px;
}

.project1img4 {
   position: absolute;
width: 1152px;
height: 878px;
left: 192px;
top: 3514px;
}

.project1img5 {
   position: absolute;
width: 1152px;
height: 864px;
left: 192px;
top: 4459px;
}

.project1img6 {
   position: absolute;
width: 1152px;
height: 864px;
left: 192px;
top: 5390px;
}

.project1img7 {
   position: absolute;
width: 724px;
height: 864px;
left: 406px;
top: 6321px;
}

.project1img8 {
   position: absolute;
width: 1152px;
height: 861px;
left: 192px;
top: 7252px;
}

.project1img9 {
   position: absolute;
width: 1152px;
height: 861px;
left: 192px;
top: 8180px;
}

.project1img10 {
  position: absolute;
width: 613px;
height: 417px;
left: 862px;
top: 9151px;
}

.projecttext {
 position: absolute;
width: 414px;
height: 454px;
left: 192px;
top: 1118px;   
}

.projecttext h1 {
position: absolute;
width: 90px;
height: 38px;
left: 192px;
margin-top: 0px;
font-family: FuturaLightC;
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 37px;
/* identical to box height, or 150% */
letter-spacing: 0.12em;
color: #2E2E2E;
}

.projecttext h5 {
    position: relative;
width: 120%;
height: 38px;
left: 192px;
margin-top: 29px;
font-family: FuturaMediumC;
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 37px;
/* identical to box height, or 150% */
letter-spacing: 0.12em;
color: #2E2E2E;
}

.info {
  position: absolute;
  bottom: 0;
  padding: 20px;
  opacity: 0;
  -webkit-transition: all 100ms 0ms ease-in-out;
  transition: all 100ms 0ms ease-in-out;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.title {
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  margin-bottom: 16px;
  color: white;
  font-style: italic;
}

.price {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: white;
  font-style: none;
}

@keyframes fadeIn {
 0% {
        -webkit-transform: translate3d(100%,0,0);
        opacity: 0;
        transform: translate3d(100%,0,0);
    }

    to {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}

@-moz-keyframes fadeIn {
 0% {
        -webkit-transform: translate3d(100%,0,0);
        opacity: 0;
        transform: translate3d(100%,0,0);
    }

    to {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}

@-webkit-keyframes fadeIn {
  0% {
        -webkit-transform: translate3d(100%,0,0);
        opacity: 0;
        transform: translate3d(100%,0,0);
    }

    to {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}

@-o-keyframes fadeIn {
  0% {
        -webkit-transform: translate3d(100%,0,0);
        opacity: 0;
        transform: translate3d(100%,0,0);
    }

    to {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}

@-ms-keyframes fadeIn {
  0% {
        -webkit-transform: translate3d(100%,0,0);
        opacity: 0;
        transform: translate3d(100%,0,0);
    }

    to {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes fadeInLeft {
 0% {
        -webkit-transform: translate3d(-10%,0,0);
        opacity: 0;
        transform: translate3d(-10%,0,0);
    }

    to {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}

@-moz-keyframes fadeInLeft {
 0% {
        -webkit-transform: translate3d(-10%,0,0);
        opacity: 0;
        transform: translate3d(-10%,0,0);
    }

    to {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}


@-webkit-keyframes fadeInLeft {
  0% {
        -webkit-transform: translate3d(-10%,0,0);
        opacity: 0;
        transform: translate3d(-10%,0,0);
    }

    to {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}

@-o-keyframes fadeInLeft {
  0% {
        -webkit-transform: translate3d(-10%,0,0);
        opacity: 0;
        transform: translate3d(-10%,0,0);
    }

    to {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}

@-ms-keyframes fadeInLeft {
  0% {
        -webkit-transform: translate3d(-10%,0,0);
        opacity: 0;
        transform: translate3d(-10%,0,0);
    }

    to {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}


@media (min-width: 400px) {
  .bttn {
    width: auto;
  }
}



.bttn-arrow span {
  display: inline-block;
  position: relative;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  will-change: transform;
}
.bttn-arrow:hover span {
  -webkit-transform: translate3d(-1rem, 0, 0);
          transform: translate3d(-1rem, 0, 0);
}
.bttn-arrow svg {
  position: absolute;
  width: 1.1em;
  right: 0px;
  right: 0rem;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  will-change: right, opacity;
}
.bttn-arrow svg * {
  stroke-width: 5;
  stroke-color: transparent;
}
.bttn-arrow:hover svg {
  opacity: 1;
  right: -2rem;
}

.next {
    position: absolute;
    height: 417px;
left: 0px;
top: 9151px;
width: 862px;
font-family: FuturaBookC;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 45px;
/* identical to box height, or 90% */
letter-spacing: 0.12em;
}

.nexttext {
   position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
font-family: FuturaBookC;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 45px;
/* identical to box height, or 90% */

letter-spacing: 0.12em;

color: #000000;
}